{{#each products}}
    <div class="product" style="background-image: url('{{imgUrl}}');">
        <h1>{{name}}</h1>
        <p>{{description}}</p>
        <div class="button">
            <div class="price">${{price}}</div>
            <a class="addtocart" data-id="{{id}}">
                <div class="add" data-id="{{id}}">Add to Cart</div>
                <div class="added">Added!</div>
            </a>
        </div>
    </div>
{{/each}}
