<!DOCTYPE html>
<html>

<head>
  <title>Posts</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <h1>Node.JS GUI</h1>
    <nav>
      <a href="/"><button>BACK</button></a>
      <a href="/create/post/"><button>NEW POST</button></a>
    </nav>
    <div>
      <% for (var i = 0; i < data.length; i++) { %>
        <div class="post__item">
          <h2>Post ID: <%= data[i].postId %></h2>
          <div class="post__content">
            <figure>
              <img src="<%= data[i].imgUrl %>" alt="<%= data[i].userId %>">
              <figcaption>Likes:
                <%= data[i].likeCount %>
              </figcaption>
            </figure>
            <div class="post__item__text">
              <p>
                <%= data[i].description %>
              </p>
            </div>
          </div>
          <nav>
            <a href='/edit/posts/<%= data[i].postId %>'>
              <button data-type="posts" name="<%= data[i].postId %>">EDIT</button>
            </a>
            <button class="delete-button" name="<%= data[i].postId %>">DELETE</button>
          </nav>
        </div>
        <% } %>
    </div>
  </div>
  <script type="text/javascript" src="/js/deleteListener.js"></script>
</body>

</html>
