<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <h1>Node.JS GUI</h1>
    <nav>
      <a href="/"><button>BACK</button></a>
      <a href="/create/user/"><button>NEW USER</button></a>
    </nav>
    <div>
      <% for (var i = 0; i < data.length; i++) { %>
        <div class="user__item">
          <h2>User information</h2>
          <div class="user__info__container">
            <figure>
              <img src="<%= data[i].image %>" alt="<%= data[i].name %>">
              <figcaption>User ID: <%= data[i].id %></figcaption>
            </figure>
            <div class="user__info">
              <p>Name: <%= data[i].name %></p>
              <p>Password: <%= data[i].password %></p>
              <address class="email">
                <a href="mailto:<%= data[i].email %>">email: <%= data[i].email %></a>
              </address>
            </div>
          </div>
          <h2>User followings</h2>
          <div class="user__followings">
            <div class="tags">
              <% if(data[i].following.tags.length > 0){ %>
                <h3>Tags:</h3>
                <% data[i].following.tags.forEach(function(item) { %>
                  <div class="decorator">
                    <p>Name: <%= item.name %></p>
                    <p>Active: <%= item.active %></p>
                  </div>
                  <% }); %>
                    <% } else { %>
                      <p>no tags uploaded</p>
                      <% } %>
            </div>
            <div class="users">
              <% if(data[i].following.users.length > 0){ %>
                <h3>users:</h3>
                <% data[i].following.users.forEach(function(item) { %>
                  <div class="decorator">
                    <p>ID: <%= item.id %></p>
                    <p>Active: <%= item.active %></p>
                  </div>
                  <% }); %>
                    <% } else{ %>
                      <p>no users uploaded</p>
                      <% } %>
            </div>
          </div>
          <nav>
            <a href='/edit/users/<%= data[i].id %>'>
              <button data-type="users" name="<%= data[i].id %>">EDIT</button>
          </a>
            <button class="delete-button" name="<%= data[i].id %>">DELETE</button>
          </nav>
        </div>
        <% } %>
    </div>
  </div>
  <script type="text/javascript" src="/js/deleteListener.js"></script>
</body>

</html>
